html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.all {
  height: 100%;
}

.flex1 {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header-flex1a {
  flex: 2;
  border: solid red 0px;
  margin: 2px;
}
.body-flex1b {
  flex: 6;
  border: solid blue;
  margin: 2px;
}

.flex2{
  height: 100%;
  display: flex;
  flex-direction: row;
}

.home-flex2a{
  flex:1;
  color:white;
  background:brown;
  border-radius: 50px;
  margin: 2px;
  text-align:center;
  padding-top: 2%
}
.home-flex2a:hover{
  flex:1;
  color:white;
  background:darkred;
  border-radius: 50px;
  margin: 2px;
  text-align:center;
  padding-top: 2%
}
.flex2b{
  flex:4;
  border: 0px;
  margin: 2px;
}
.flex3{
  display:flex;
  height:100%;
  flex-direction:column
}
.Uselessweb-flex3a{
  flex:1;
  border:solid blue 0px;
  text-align:center;
}
.navigation-flex3b{
  flex:1;
  border:solid red 0px;
}
.flex4{
  display:flex;
  height:100%;
  flex-direction:row;
}
.flex4a{
  flex:1;
  border: solid gold 5px;
  margin:2px;
}
.flex4b{
  flex:1;
  border: solid gold 5px;
  margin:2px;
}
.flex4c{
  flex:1;
  border: solid gold 5px;
  margin:2px;
}
.flex4d{
  flex:1;
  border: solid gold 5px;
  margin:2px;
}
.flex4e{
  flex:1;
  border: solid gold 5px;
  margin:2px;
}
.body-flex5{
  display:flex;
  flex-direction:column;
  border: solid green 0px;
  height:100%;
}
.Grayson-flex5a{
  flex:1;
  border:solid red 0px;
}

.bodybody-flex5b{
  flex:2;
  border:solid yellow 0px;
}
.Grayson-flex6{
  display:flex;
  flex-direction:row;
  border: solid gray 0px;
  height:100%;
}
.Graysonname-flex6a{
  flex:2;
  border: solid purple 0px;
  padding-top:5%;
  font-size:200%;
  text-align:center;
}
.Picture-flex6b{
  flex:1;
  border:solid gold 2px;
}

.minihover:hover{
  background:lightyellow;
}
